PORT=3002
MONGODB_URI=mongodb+srv://db_user:<password>@cluster0.mongodb.net/otp_auth?retryWrites=true&w=majority&appName=PulseRelay
OTP_HASH_SECRET=change_me_before_production
OTP_TTL_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_RESEND_SECONDS=30
SESSION_TTL_DAYS=7
LOCAL_PULSE_RELAY_URL=http://<local_ip>:<port>
LOCAL_PULSE_RELAY_USER=sms
LOCAL_PULSE_RELAY_PASS=<your_password>
SMS_TEMPLATE=Your OTP is {{OTP}}. Valid for {{MINUTES}} minutes.
